.container{

	width: 78%;
	height: auto;
	
	/*add flexbox style*/

	display:flex;
	flex-direction:row;
	justify-content: space-around; 

}

.box{
	width: 215px;
	height: 315px;
	background: black;
	margin: 0px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
	position: relative;
	display: flex; 
	align-content: center; 
	justify-content : center;
}
